body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    display: relative;
}

.top{
    background: #f6eaf6;
    overflow: hidden;
    padding-top: 40px;
}
.top .text {
}
.top .img{
    height: 300px;
    text-align: right;
}
.top .img img{
    height: 300px;
}
.top h1 {
    font-family: 'Rouge Script', cursive;
    font-weight: 100;
    font-size: 3em;
    color: crimson;
    margin: 0;
}
.top h2 {
    margin: 0;
    font-weight: 100;
    font-size: 2.5em;
    letter-spacing: -2px;
    margin-bottom: 15px;
    font-family: 'Abril Fatface', cursive;
    color: #c88a37;
}

.top button {
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 5px 50px 0px rgba(0,0,0,0.12);
    color: crimson;
    background: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    transition: .3s;
}

.top button:hover{
    background: crimson;
    color: #fff;
}
.top button:active {
    transform: scale(.95);
    outline: none;
    border: none;
}

#wishes {
    text-align: center;
    font-size: 25px;
    color: crimson;
    font-family: 'Rouge Script', cursive;
}
#cheers{
    font-weight: 600;
}
#author{
    color: #d1a162;
}

.images{
    background: #fff;
}

.images img{
    object-fit: cover !important;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 6px 5px 30px 0px rgba(0,0,0,0.12);
}

.my-modal {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
    top: 0;
    background: rgba(0,0,0,0.32);
    display: none;
}

.my-modal .modal-main {
    height: 80vh;
    width: 80%;
    margin: 10vh 10%;
    background: #eaf0f7;
    border-radius: 10px;
}

footer {
    background: #d1a162;
    font-family: 'Abril Fatface', cursive;
}

footer a {
    color: crimson;
}

#result{
    display: none;
}

#result h2{
    font-weight: 900;
    color: crimson;
    margin-bottom: 40px;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.4em;
    font-weight: 900;
    color: #fff;
    border: 1px solid #fff;
    padding: 2px 11px;
}

.music {
    display: none;
}

button#music-button{
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: none;
    background: #29E3AE;
    color: #fff;
    padding: 6px 12px;
    font-size: 10px;
    text-transform: uppercase;
    box-shadow: 6px 5px 50px 0px rgba(0,0,0,0.12);
    outline: none;
    border-radius: 20px;
    z-index: 2;
}

@media screen and (max-width: 768px){
    .top {
        text-align: center;
    }
}